<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ProgettoFineCorsoScuolaCucina</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletRegistrazioneUtente</display-name>
    <servlet-name>ServletRegistrazioneUtente</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletRegistrazioneUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrazioneUtente</servlet-name>
    <url-pattern>/ServletRegistrazioneUtente</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeltDisiscriviUtente</display-name>
    <servlet-name>ServeltDisiscriviUtente</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServeltDisiscriviUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeltDisiscriviUtente</servlet-name>
    <url-pattern>/ServeltDisiscriviUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInserisciFeedback</display-name>
    <servlet-name>ServletInserisciFeedback</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletInserisciFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInserisciFeedback</servlet-name>
    <url-pattern>/ServletInserisciFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConfermaFeedback</display-name>
    <servlet-name>ServletConfermaFeedback</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletConfermaFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfermaFeedback</servlet-name>
    <url-pattern>/ServletConfermaFeedback</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ServletVisualizzaDatiAmministratore</display-name>
    <servlet-name>ServletVisualizzaDatiAmministratore</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletVisualizzaDatiAmministratore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVisualizzaDatiAmministratore</servlet-name>
    <url-pattern>/ServletVisualizzaDatiAmministratore</url-pattern>
  </servlet-mapping>
</web-app>