<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ProgettoFineCorsoScuolaCucina</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletRegistrazioneUtente</display-name>
    <servlet-name>ServletRegistrazioneUtente</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletRegistrazioneUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistrazioneUtente</servlet-name>
    <url-pattern>/ServletRegistrazioneUtente</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>javax.servlet.ServletException</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeltDisiscriviUtente</display-name>
    <servlet-name>ServeltDisiscriviUtente</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServeltDisiscriviUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeltDisiscriviUtente</servlet-name>
    <url-pattern>/ServeltDisiscriviUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInserisciFeedback</display-name>
    <servlet-name>ServletInserisciFeedback</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletInserisciFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInserisciFeedback</servlet-name>
    <url-pattern>/ServletInserisciFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConfermaFeedback</display-name>
    <servlet-name>ServletConfermaFeedback</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletConfermaFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfermaFeedback</servlet-name>
    <url-pattern>/ServletConfermaFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletVisualizzaDatiAmministratore</display-name>
    <servlet-name>ServletVisualizzaDatiAmministratore</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletVisualizzaDatiAmministratore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletVisualizzaDatiAmministratore</servlet-name>
    <url-pattern>/ServletVisualizzaDatiAmministratore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListaFeedback</display-name>
    <servlet-name>ServletListaFeedback</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletListaFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListaFeedback</servlet-name>
    <url-pattern>/ServletListaFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEdizioniCorso</display-name>
    <servlet-name>ServletEdizioniCorso</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletEdizioniCorso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEdizioniCorso</servlet-name>
    <url-pattern>/ServletEdizioniCorso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDettagliEdizione</display-name>
    <servlet-name>ServletDettagliEdizione</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletDettagliEdizione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDettagliEdizione</servlet-name>
    <url-pattern>/ServletDettagliEdizione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletModificaIntermediaFeedback</display-name>
    <servlet-name>ServletModificaIntermediaFeedback</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletModificaIntermediaFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificaIntermediaFeedback</servlet-name>
    <url-pattern>/ServletModificaIntermediaFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletModificaFeedback</display-name>
    <servlet-name>ServletModificaFeedback</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletModificaFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificaFeedback</servlet-name>
    <url-pattern>/ServletModificaFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCancellaFeedback</display-name>
    <servlet-name>ServletCancellaFeedback</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletCancellaFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCancellaFeedback</servlet-name>
    <url-pattern>/ServletCancellaFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletModificaIntermediaA</display-name>
    <servlet-name>ServletModificaIntermediaA</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletModificaIntermediaA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificaIntermediaA</servlet-name>
    <url-pattern>/ServletModificaIntermediaA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletModificaAmministratore</display-name>
    <servlet-name>ServletModificaAmministratore</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletModificaAmministratore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificaAmministratore</servlet-name>
    <url-pattern>/ServletModificaAmministratore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInserisciCategoria</display-name>
    <servlet-name>ServletInserisciCategoria</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletInserisciCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInserisciCategoria</servlet-name>
    <url-pattern>/ServletInserisciCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListaCategoria</display-name>
    <servlet-name>ServletListaCategoria</servlet-name>
    <servlet-class>it.ats.progettofinecorsoscuolacucina.controllo.ServletListaCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListaCategoria</servlet-name>
    <url-pattern>/ServletListaCategoria</url-pattern>
  </servlet-mapping>
</web-app>